<h1>New Asset</h1>

<%= form_for @asset do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :video %>
    <%= f.file_field :video %>
  </p>
  <p>
    <%= f.submit %>
  </p>  
<% end %>  